<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar-top-fixed.css}"/>


    <title>Welcome!</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">RS Company</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/editUser}">Change login data<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/newpost}">Add new post</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" th:action="@{/logout}" method="post">
            <a class="navbar-brand" href="#" th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]] </a>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>


<main role="main" class="container">

    <div class="jumbotron">


<div class="container">

    <div class="text-center">
        <h4 class="mb-3">User information</h4>


        <form  class="needs-validation" th:each="p : ${user}"  th:action="@{/edit/{id}/(id=${p.id})}" th:object="${userr}"
               method="post" >
            <article th:each="p : ${user}">
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" th:field="*{firstName}"  th:placeholder="${p.firstName}" />
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" th:field="*{lastName}" th:placeholder="${p.lastName}" />
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>


                <div class="mb-3">



                    <input type="text" class="form-control" name="username" th:field="*{username}" th:placeholder="${p.username}" required=""/>
                    <div class="invalid-feedback" style="width: 100%;">
                        Your username is required.
                    </div>

                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="email" class="form-control" id="email" name="emailId" th:field="*{email}" th:placeholder="${p.email}"/>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                </div>


                <hr class="mb-4"/>
                <div class="mb-3">


                    <input type="password" name="password" id="password" th:field="*{password}" class="form-control" placeholder="New Password" />

                </div>

                <div class="mb-3">

                    <input type="password" name="password-repeat" id="password-repeat" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm New Password" />

                </div>


                <div class="row">



                    <div class="col-md-6 mb-3">
                        <label for="firstName">Date of Birthday</label>
                        <input type="text" class="form-control" id="datetimepicker" name="dob" th:field="*{dao}" th:placeholder="${p.dob}" value="" />
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Mobile Number</label>
                        <input type="text" class="input-medium bfh-phone form-control" id="number" th:field="*{numberNum}" name="mobileNo" data-format="+48 ddd-ddd-ddd" />
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <hr class="mb-4"/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save change</button>
            </article>

        </form>
    </div>
</div>

    </div>
</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.datetimepicker.css}" />
<script th:src="@{/css/jquery.js}"></script>
<script th:src="@{/css/jquery.datetimepicker.full.min.js}"></script>
<script th:src="@{/css/bootstrap-formhelpers-phone.js}"></script>

<script>
    jQuery.datetimepicker.setLocale('en');

    jQuery('#datetimepicker').datetimepicker({
        i18n:{
            de:{
                months:[
                    'Januar','Februar','März','April',
                    'Mai','Juni','Juli','August',
                    'September','Oktober','November','Dezember',
                ],
                dayOfWeek:[
                    "So.", "Mo", "Di", "Mi",
                    "Do", "Fr", "Sa.",
                ]
            }
        },
        timepicker:false,
        format:'d/m/Y'
    });
</script>



</body></html>