<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar-top-fixed.css}"/>


    <title>Welcome!</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">RS Company</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/user}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/editUser}">Change login data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/newpost}">Add new post</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" th:action="@{/logout}" method="post">
            <a class="navbar-brand" href="#" th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]] </a>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>

<main role="main" class="container">
    <div class="jumbotron">

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <a class="btn btn-lg btn-primary" th:href="@{/users}" role="button">View all users »</a>
    </div>

    <h1>Posts:</h1>
    <hr></hr>
    <article th:each="p : ${posts}">

        <div class="blog-post">
            <h2 class="blog-post-title" th:text="${p.title}">Sample blog post</h2>
            <p class="blog-post-meta" th:text="${p.date}+' ,by '+${p.author}">January 1, 2014 by </p>

            <p th:text="${p.body}">This blog post shows</p>

        <hr></hr>
        </div>

    </article>


</main>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body></html>

<!--
</body></html>
<body>
<h3>hello user!</h3>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
-->